# קבצי פרויקט של IntelliJ/Android Studio
*.iml
.idea/
.gradle/
local.properties

# קבצים זמניים ותיקיות Build
.DS_Store
/build/
.captures/
.externalNativeBuild/
.cxx/

# exclude specific .idea subfolders
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
